body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3A5311; /* Juniper Green */
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #3A5311; /* Juniper Green */
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #3A5311; /* Juniper Green */
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}